{% extends "new-index.html" %}
{% load staticfiles %}

{% block body %}
    <table id="SpContent" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td id="SpContent_Container">

            <script type="text/javascript" src="https://safestates.site-ym.com/global_inc/js/ContentScores.js"></script>

            <div id="CustomPageBody">

                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% else %}
                    <h4>Please login to see this page.</h4>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

                <input type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>

            </div>
        </td>
    </tr>
</table>
{% endblock %}