{% extends "new-index.html" %}
{% load staticfiles %}

{% block body %}
<table id="SpContent" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td id="SpContent_Container">

            <script type="text/javascript" src="https://safestates.site-ym.com/global_inc/js/ContentScores.js"></script>

            <div id="CustomPageBody">
                <h3>Database Administration - List Entries</h3>
                <table>
                    <tr>
                        <th><strong>Tool Name</strong></th>
                        <th><strong>Author</strong></th>
                    </tr>
                    <tr>
                        <td colspan=2><hr></td>
                    </tr>
                    {% for tool in tools %}
                    <tr>
                        <td><a href="{% url 'admin_show' tool.id %}">{{ tool.name }}</a></td>
                        <td><a href="{% url 'admin_show' tool.id %}">{{ tool.author }}</a></td>
                    </tr>
                    <tr>
                        <td colspan=2><hr></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </td>
    </tr>
</table>
{% endblock %}