{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Livability & Smart Growth Assessment Tool Database - Safe States Alliance</title>
        <meta name="keywords" content="safe,states,alliance,injury,prevention,IVP,tools, NHTSA,livability">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="https://safestates.site-ym.com/global_inc/site_templates/YM-FX-02/combined.css?_v=1.47.104.115&context=sp"/>
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/yui/2.9.0/build/container/assets/skins/sam/container.css">
		<link rel="stylesheet" type="text/css" href="https://safestates.site-ym.com/global_graphics/skins/MemberCustomPageMenu/yuimenu.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/fratelli.css" %}" />
		<!--[if IE]><link rel="stylesheet" type="text/css" href="https://safestates.site-ym.com/global_inc/site_templates/YM-FX-02/ie.css">
		<style type="text/css">
			#CustomPageBody,
			div.ContributedContent {
				padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 17 : 0); }
		</style><![endif]-->

		<!--@@DG_PRINT_BASE_URL@@
			IMPORTANT! DO NOT MOVE OR MODIFY -->


		<meta name="viewport" content="width=device-width" />


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

	</head>