    <div id="foot"><!-- footer --></div>

    <div id="FooterContentArea"><!--YMPSTITLE=TgBBAA==/YMPSTITLE-->
        <div id="footer">
            <div id="col-1">
                <div id="foot-head">
                    Connect
                </div>
                <a href="/">Members</a><br>
                <a href="/">Partners</a><br>
                <a href="/">Policy Makers</a>
                <br><a href="/">Public</a>
            </div>
            <div id="col-2">
                <div id="foot-head">
                    Quicklinks
                </div>
                <a href="https://safestates.site-ym.com/?MembershipBenefits">Member Benefits</a><br>
                <a href="https://safestates.site-ym.com/general/register_member_type.asp?">Join </a><br>
                <a href="https://safestates.site-ym.com/search/">Member Directory</a><br>
                <a href="https://safestates.site-ym.com/?page=Exchange">Safe States Exchange</a><br>
                <a href="https://safestates.site-ym.com/events/event_list.asp">Events</a><br>
                <a href="https://safestates.site-ym.com/news/">News &amp; Press</a><br>
                <a href="https://safestates.site-ym.com/?PolicyHome">Policy</a>
            </div>
            <div id="col-3">
                <div id="foot-head">
                    Contact
                </div>
                <p>
                    The Safe States Alliance<br>
                    2200 Century Parkway, Suite 700<br>
                    Atlanta, Georgia 30345<br>
                    (707) 690-9000<br>
                    <a href="mailto:info@safestates.org">info@safestates.org</a>
                </p>
            </div>
            <div id="col-4">
                <div id="foot-head">
                    Social
                </div>
                <a href="https://twitter.com/SafeStates" target="_blank">
                    <img src="https://safestates.site-ym.com/graphics/twitter.png">
                </a>
                <a href="http://www.linkedin.com/groups/Safe-States-Alliance-1840307/about" target="_blank">
                    <img src="https://safestates.site-ym.com/graphics/linkedin.png">
                </a>
            </div>
            <div id="col-5">
                <div id="foot-head">
                    Mission &amp; Vision Statements
                </div>
                <p>
                    The Safe States Alliance is a national non-profit 501(c)(3) organization and professional association
                    whose mission is to strengthen the practice of injury and violence prevention.
                </p>
                <br>
                <p>Our vision is to be the recognized leader and driving force in understanding and preventing injuries
                    and violence.
                </p>
            </div>
        </div>
    </div>
    <div id="icopyright">
        <div id="icopyright-inner">
            Livability & Smart Growth Assessment Tool developed by
            <a href='http://www.webvig.com/'>
                Webvig Laboratories
            </a>
        </div>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>